* {
  border-radius: 10px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  background: #1f1f21;
}
.main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 392px;
  height: 500px;
  overflow: hidden;
}
.main #display {
  width: 100%;
  padding: 5px;
  font-size: 55px;
  color: black;
  background: #fff;
  text-align: right;
  border: 0.5px solid #3f3f3f;
  outline: none;
  transition: 0.5s;
}
.main .clear {
  background: #0012ff;
  color: #fff;
}
.main input {
  display: inline-block;
  cursor: pointer;
  font-size: 25px;
  background: #333333;
  color: #fff;
  width: 95px;
  height: 95px;
  margin-top: 5px;
  transition: 0.3s;
}
.main input:hover {
  background: #3f3f3f;
  color: #e5e5e5;
}
.main .finalResult {
  background: #121212;
}
.btw {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}
a {
  color: #fff;
}

@media (max-width: 1080px) {
  .main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 280px;
    height: auto;
    overflow: hidden;
  }
  .main input {
    cursor: pointer;
    font-size: 20px;
    background: #333333;
    color: #fff;
    width: 66px;
    height: 66px;
    margin-top: 5px;
    transition: 0.3s;
  }
  .main #display {
    font-size: 35px;
  }
}
